<form action="/" method="post">
	<dl>
		<dt>
			<label for="file_name">Add a new document:</label>
		</dt>
		<dd>
			<input name="file_name">
		</dd>
	</dl>
	<button type="submit">Create</button>
</form>